* {
    padding: 0px;
    margin: 0px;
    background-color: #fff6a7;
  }
  
  ul {
    font-family: 'Akaya Telivigala', cursive;
    color:#74050ab9;
  }
  
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  header {
     /*border: 1px solid blue;*/
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-top: 0.5em;
    font-size: 1.7em;
    font-family: "Patrick Hand", cursive;
    color: #ffab10;
    text-shadow: -1px 1px 1px #3b22055e;
  }
  
  nav {
     /*border: 1px solid red; */
    width: 60%;
    margin-left: 16em;
    display: flex;
    margin-top: 20px;
  }
  
  nav > ul {
    margin: 0 auto;
  }
  
  nav > ul > li {
    font-size: 1.8em;
  }
  
  nav > ul > ol {
    list-style: decimal;
  }
  
  nav > ul > ol > li {
    margin-left: 1.5em;
    margin-top: 0.6em;
    /*border: 1px solid rgb(4, 0, 255);*/
  }
  
  nav > ul > ol > li > a {
    font-size: 1.3em;
  }
    
  nav > ul > ol > li > figure > img {
    margin-top: 0.5em;
    width: 150px;
    height: 115px;
    box-shadow: 0px 2px 10px rgb(95, 59, 5);
  }