* {
    padding: 0px;
    margin: 0px;
    background-color: #a3f1da;
  }
  
  ul {
    font-family: "Roboto", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  header {
    /* border: 1px solid blue; */
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
    font-size: 1.3em;
    font-family: "Domine", sans-serif;
    color: #009fcf;
    margin-bottom: 20px;
  }
  
  nav {
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 3em;
    flex-wrap: wrap;
  }
  
  nav > ul {
    margin: 0 auto;
  }
  
  nav > ul > li {
    font-size: 1.6em;
  }
  
  nav > ul > ol {
    list-style: decimal;
  }
  
  nav > ul > ol > li {
    margin-left: 2em;
  }
  
  nav > ul > ol > li > a {
    font-size: 1em;
  }
  
  nav > ul > ol > li:last-child {
    margin-bottom: 1em;
  }
  
  section {
    width: 70%;
    margin: 0 auto;
    margin-top: 2em;
  }
  
  section > h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    color: #1d3557;
  }
  
  .imagesWrap {
    display: flex;
    justify-content: space-evenly;
  }
  
  section > div > img {
    width: 100px;
    height: 100px;
    box-shadow: 0px 2px 10px rgb(0, 255, 234);
  }